<%- include("header") %>

    <h2>About page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est eligendi, neque ipsum sit autem! Quod, quam.
        Eos
        repudiandae libero omnis autem molestiae, atque iste dolor nesciunt amet culpa dolorum?</p>
    <%- include("footer") %>